In [1]:
text = "Hellow World"
text = "Good morning World"
print(text)

Good morning World

## Heading 2
Normal text here

### Heading 3
ordered list here

0. Fruits
  0. Banana
  0. Grapes
0. Veggies
  0. Tomato
  0. Broccoli
 
Unordered list here
- Fruits
     - Banana
     - Grapes
- Veggies
     - Tomato
     - Broccoli

In [3]:
print('Hello, World!')

Hello, World!

In [4]:
multiline = '''This is a test for multiline. This is the first line. 
This is the second line. 
I asked, "What's your name?"'''
print(multiline)

This is a test for multiline. This is the first line.
This is the second line.
I asked, "What's your name?"

In [5]:
multiline = '''This is a test for multiline. This is the first line. 
This is the second line. 
I asked, "What's your name?"'''
multiline

'This is a test for multiline. This is the first line. \nThis is the second line. \nI asked, "What\'s your name?"'

In [7]:
string = 'What\'s your name?'
print(string)

What's your name?

In [6]:
path = 'c:\\windows\\temp'
print(path)

c:\windows\temp

In [8]:
name = 'World'
greeting = 'Hello'
print(greeting + ', ' + name + '!')

Hello, World!

In [ ]:
name

In [ ]:
greeting

In [9]:
# Change part of the text is easy
greeting = 'Good morning' 
print(greeting + ', ' + name + '!')

Good morning, World!

In [10]:
3 * 5

15

In [11]:
#3 to the power of 4
3 ** 4

81

In [12]:
14 / 5

2.8

In [13]:
-14 // 5

-3

In [14]:
x = 3
y = 2
x + 2

5

In [15]:
x = 2
x = x * 3
x

6

In [16]:
type('Hello, world!)')

str

In [19]:
weight = float('45.6')
weight
type(weight)

float

In [23]:
type(5 > 10)

bool

In [24]:
nInput  = input('Enter you number here:\n')

TypeError: 'str' object is not callable

In [26]:
name = 'David'
age = 23
print('%s is %d years old.' % (name, age))

David is 23 years old.

In [28]:
print('Output a float number: %10.4f' % (3.5))
print('Output an integer: %+05d' % (23))

Output a float number:     3.5000
Output an integer: +0023

In [30]:
x = 12
y = 10

if (x < y):
    print("x is less than y")
elif (x > y):
    print("x is greater than y")
else:
    print("x and y must be equal")

x is greater than y

In [37]:
i = 0
while (i < 6):
    print('The count is %d' % i)
    i = i + 1
print('Good bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
Good bye!

In [31]:
for i in range(5):
    print( 'The count is %d' % i)
print('Good bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
Good bye!

In [32]:
print(range(5))

range(0, 5)

In [33]:
rangeA = range(5)
list(rangeA)

[0, 1, 2, 3, 4]

In [35]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
l = ['apple', 2.0, 5, [10, 20]]
l[3][1]

20

In [40]:
l[0]

'apple'

In [41]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
'apple' in shoplist

True

In [42]:
 [10, 20, 30, 40 ] + [50, 60]

[10, 20, 30, 40, 50, 60]

In [43]:
 [50, 60]*3

[50, 60, 50, 60, 50, 60]

In [44]:
l = [1, 2, 3, 4, 5, [6, 7]] 
len(l)

6

In [46]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist.sort()
shoplist

['apple', 'banana', 'carrot', 'mango']

In [48]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
shoplist_sorted = sorted(shoplist)   
print(shoplist_sorted)

['apple', 'banana', 'carrot', 'mango']

In [49]:
s = 'I love apples'
s.split(' ')

['I', 'love', 'apples']

In [50]:
l = [2, 3, 5, 7]

for i in range(len(l)):
       l[i] = l[i] * 2

print(l)

[4, 6, 10, 14]

In [51]:
year_born =  ('David Hilton', 1995)
year_born

('David Hilton', 1995)

In [56]:
t = ('David', '0233', 78)
(name, id, score) = t
print(name)
print(id)
print(score)

David
0233
78

In [57]:
dict = {'Daid': 70, 'John': 60, 'Amy': 85}

for key in dict:
    print(key, dict[key])

Daid 70
John 60
Amy 85

In [58]:
def say_hello():
    print('Hello world!')

say_hello()

Hello world!

In [59]:
def say_hello():
    print('Hello world!')

def hello_threetimes():
    say_hello()
    say_hello()
    say_hello()

hello_threetimes()
print('Done!')

Hello world!
Hello world!
Hello world!
Done!

In [60]:
a = 30
b = 55
abs(a-b)

25

In [61]:
pow(7, 4)

2401

In [1]:
def print_twice(param):
    print(param + ' ' + param)
print_twice('Hi' * 3)

HiHiHi HiHiHi

In [2]:
def area(radius):
    temp = 3.14159 * radius ** 2
    return temp

print(area(3))

28.27431

In [3]:
def cat_twice(part1, part2):
    """ Concatenates part1 and part 2, and 
    prints the result twice.
    """
    cat = part1 + part2
    print(cat)
    print(cat)

In [4]:
help(cat_twice)

Help on function cat_twice in module __main__:

cat_twice(part1, part2)
    Concatenates part1 and part 2, and
    prints the result twice.

In [5]:
import math
print(math.pi)

3.141592653589793

In [6]:
from math import pi
print(pi)

3.141592653589793

In [8]:
class Person:
    def say_hi(self):
        print('Hi, how are you doing?')

p = Person()
p.say_hi()

Hi, how are you doing?

In [9]:
class Person:
    def __init__(self, name):
        self.name = name
    def say_hi(self):
        print('Hi, ' + self.name + ', how are you doing?')

p = Person("James Bond")
p.say_hi()

Hi, James Bond, how are you doing?

In [10]:
class SchoolMember:
    '''Represents any school member.'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized SchoolMember: %s)' % self.name)

    def tell(self):
        '''Tell my details.'''
        print('Name: %s Age: %d' % (self.name, self.age))
        
class Teacher(SchoolMember):
    '''Represents a teacher.'''
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
        self.salary = salary
        print('(Initialized Teacher: %s)' % self.name)

    def tell(self):
        SchoolMember.tell(self)
        print('Salary:  %d ' % self.salary)
class Student(SchoolMember):
    '''Represents a student.'''
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        print('(Initialized Student: %s)' % self.name)

    def tell(self):
        SchoolMember.tell(self)
        print('Marks: %d' % self.marks)
        
t = Teacher('Mr. Li', 35, 50000)
s = Student('John Smith', 22, 75)
# prints a blank line
print('\n')
members = [t, s]
for member in members:
    # Works for both Teachers and Students
    member.tell()

(Initialized SchoolMember: Mr. Li)
(Initialized Teacher: Mr. Li)
(Initialized SchoolMember: John Smith)
(Initialized Student: John Smith)


Name: Mr. Li Age: 35
Salary:  50000
Name: John Smith Age: 22
Marks: 75

In [11]:
import math
x = input('Enter a real number between -1 and 1: ')
y = math.acos(float(x))
print ('acos({}) = {}'.format(x,y))

Enter a real number between -1 and 1: 0
acos(0) = 1.5707963267948966

In [12]:
import datetime

today = datetime.date.today()
print (today)
print ('ctime:', today.ctime())
print ('tuple:', today.timetuple())
print ('ordinal:', today.toordinal())
print ('Year:', today.year)
print ('Mon :', today.month)
print ('Day :', today.day)

2023-06-25
ctime: Sun Jun 25 00:00:00 2023
tuple: time.struct_time(tm_year=2023, tm_mon=6, tm_mday=25, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=176, tm_isdst=-1)
ordinal: 738696
Year: 2023
Mon : 6
Day : 25

In [14]:
day_of_week = {0 : 'Monday',
              1: 'Tuesday',
              2: 'Wednesday',
              3: 'Thursday',
              4: 'Friday',
              5: 'Saturday',
              6: 'Sunday'}

print ('Today is', day_of_week[datetime.date.today().weekday()])

my_birthdate = datetime.date(2001,7,5)
print ('I was born on', day_of_week[my_birthdate.weekday()])

t2 = my_birthdate.replace(year=2023)
print ('and my birthday this year is on a', day_of_week[t2.weekday()])

Today is Sunday
I was born on Thursday
and my birthday this year is on a Wednesday